In [1]:
import pandas as pd

In [2]:
df_age = pd.read_csv("/Users/diyavora/Desktop/merging/ages.csv")
df_gdp=pd.read_csv("/Users/diyavora/Desktop/merging/gdp.csv",on_bad_lines='skip')
df_schools=pd.read_csv("/Users/diyavora/Desktop/merging/schools.csv")
df_visas = pd.read_csv('/Users/diyavora/Desktop/merging/country_list.csv')

In [3]:
#checking if they are loaded
df_age.head()

,Country,HS_age_population,HS_age_population_billion,HS_age_population_pct
0,China,1.377710e+10,13.777,19.307
1,India,1.286782e+10,12.868,18.033
2,United States of America,2.770717e+09,2.771,3.883
3,Indonesia,2.539521e+09,2.540,3.559
4,Brazil,2.002351e+09,2.002,2.806

In [4]:
df_gdp.head()

                  Country Name  GDP per capita (PPP)
0  Africa Eastern and Southern           4481.246847
1   Africa Western and Central           5639.830732
2                      Albania          23488.098947
3                      Algeria          17552.774248
4                      Andorra          74939.474604

In [5]:
df_schools.head()

,School Name,City,Country,URL
0,Good Hope Country Day School,Frederiksted,-,NaN
1,International Learning Group School (ILG School),Pristina,-,NaN
2,Robinson School,San Juan,-,NaN
3,Two Boats School,Ascension,-,NaN
4,Virgin Islands Montessori School & Peter Grube...,St. Thomas,-,NaN

In [6]:
print("Ages dataset columns:", df_age.columns.tolist())
print("GDP dataset columns:", df_gdp.columns.tolist())
print("Schools dataset columns:", df_schools.columns.tolist())

print("\nSample rows from each:")
print(df_age.head(2))
print(df_gdp.head(2))
print(df_schools.head(2))

Ages dataset columns: ['Country', 'HS_age_population', 'HS_age_population_billion', 'HS_age_population_pct']
GDP dataset columns: ['Country Name', 'GDP per capita (PPP)']
Schools dataset columns: ['School Name', 'City', 'Country', 'URL']

Sample rows from each:
  Country  HS_age_population  HS_age_population_billion  HS_age_population_pct
0   China       1.377710e+10                     13.777                 19.307
1   India       1.286782e+10                     12.868                 18.033
                  Country Name  GDP per capita (PPP)
0  Africa Eastern and Southern           4481.246847
1   Africa Western and Central           5639.830732
                                        School Name          City Country  URL
0                      Good Hope Country Day School  Frederiksted       -  NaN
1  International Learning Group School (ILG School)      Pristina       -  NaN

In [7]:
df_visas.head()

       Country   Visas
0        India  83,091
1        China  78,410
2       Mexico   9,531
3  Philippines   3,829
4      Albania     461

In [8]:
school_counts = df_schools.groupby('Country')['School Name'].count().reset_index(name='Num_Schools')
school_counts

       Country  Num_Schools
0            -            5
1      Albania            4
2      Algeria            1
3       Angola            3
4     Anguilla            1
..         ...          ...
158  Venezuela            9
159    Vietnam           63
160      Yemen            1
161     Zambia            9
162   Zimbabwe            1

[163 rows x 2 columns]

In [9]:
# Standardize column names for merging
df_gdp = df_gdp.rename(columns={'Country Name': 'Country'})
df_age = df_age.rename(columns={'HS_age_population': 'Youth_Population'})

In [10]:
# Merge all three datasets
merged = (
    school_counts
    .merge(df_gdp[['Country', 'GDP per capita (PPP)']], on='Country', how='left')
    .merge(df_age[['Country', 'Youth_Population']], on='Country', how='left')
    .merge(df_visas[['Country','Visas']], on='Country', how='left')
)

In [11]:
merged.head()
merged = merged.iloc[1:]

In [12]:
merged
merged= merged[merged["Country"] != "United States of America"]
merged

       Country  Num_Schools  GDP per capita (PPP)  Youth_Population   Visas
1      Albania            4          23488.098947        37097000.0     461
2      Algeria            1          17552.774248       372104000.0     465
3       Angola            3           8347.952791       222522000.0     370
4     Anguilla            1          28561.300000          145000.0       0
5    Argentina           36          30175.535966       405125000.0   1,984
..         ...          ...                   ...               ...     ...
158  Venezuela            9           8404.000000       287449000.0     NaN
159    Vietnam           63          16385.506557       894347000.0  20,478
160      Yemen            1           1996.000000       272163000.0     152
161     Zambia            9           4223.950208       150325000.0     368
162   Zimbabwe            1           3921.697956       163028000.0   1,365

[161 rows x 5 columns]

In [13]:
merged.shape

(161, 5)

In [14]:
merged = merged.dropna()

In [15]:
merged

        Country  Num_Schools  GDP per capita (PPP)  Youth_Population   Visas
1       Albania            4          23488.098947        37097000.0     461
2       Algeria            1          17552.774248       372104000.0     465
3        Angola            3           8347.952791       222522000.0     370
4      Anguilla            1          28561.300000          145000.0       0
5     Argentina           36          30175.535966       405125000.0   1,984
..          ...          ...                   ...               ...     ...
157  Uzbekistan            6          11878.552871       288815000.0     686
159     Vietnam           63          16385.506557       894347000.0  20,478
160       Yemen            1           1996.000000       272163000.0     152
161      Zambia            9           4223.950208       150325000.0     368
162    Zimbabwe            1           3921.697956       163028000.0   1,365

[148 rows x 5 columns]

In [16]:
merged.loc[163] = ["South Korea", 33, 36024, 51741963,14039]
merged

/var/folders/h7/zcn54x3s1s57twfg5qrgh2pc0000gn/T/ipykernel_91451/1077297322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged.loc[163] = ["South Korea", 33, 36024, 51741963,14039]

         Country  Num_Schools  GDP per capita (PPP)  Youth_Population   Visas
1        Albania            4          23488.098947        37097000.0     461
2        Algeria            1          17552.774248       372104000.0     465
3         Angola            3           8347.952791       222522000.0     370
4       Anguilla            1          28561.300000          145000.0       0
5      Argentina           36          30175.535966       405125000.0   1,984
..           ...          ...                   ...               ...     ...
159      Vietnam           63          16385.506557       894347000.0  20,478
160        Yemen            1           1996.000000       272163000.0     152
161       Zambia            9           4223.950208       150325000.0     368
162     Zimbabwe            1           3921.697956       163028000.0   1,365
163  South Korea           33          36024.000000        51741963.0   14039

[149 rows x 5 columns]

In [20]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

# Make a full copy of merged to avoid SettingWithCopyWarning
merged = merged.copy()

# Define the features
features = ['Num_Schools', 'GDP per capita (PPP)', 'Youth_Population', 'Visas']

# Clean the data using .loc
for col in features:
    merged.loc[:, col] = (
        merged[col]
        .astype(str)
        .str.replace(',', '', regex=False)
        .replace({'..': None, '': None})
    )
    merged.loc[:, col] = pd.to_numeric(merged[col], errors='coerce')

# Scale the data
scaler = MinMaxScaler()
merged_scaled = merged.copy()
merged_scaled[features] = scaler.fit_transform(merged[features].fillna(0))

merged_scaled

/var/folders/h7/zcn54x3s1s57twfg5qrgh2pc0000gn/T/ipykernel_91451/952213174.py:23: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_scaled[features] = scaler.fit_transform(merged[features].fillna(0))

,Country,Num_Schools,GDP per capita (PPP),Youth_Population,Visas
1,Albania,0.010490,0.146160,0.002682,0.005548
2,Algeria,0.000000,0.106345,0.026999,0.005596
3,Angola,0.006993,0.044597,0.016141,0.004453
4,Anguilla,0.000000,0.180191,0.000000,0.000000
5,Argentina,0.122378,0.191020,0.029395,0.023877
...,...,...,...,...,...
159,Vietnam,0.216783,0.098514,0.064906,0.246453
160,Yemen,0.000000,0.001988,0.019744,0.001829
161,Zambia,0.027972,0.016933,0.010901,0.004429
162,Zimbabwe,0.000000,0.014905,0.011823,0.016428
163,South Korea,0.111888,0.230252,0.003745,0.168959

In [22]:
# Create a composite score (you can adjust weights if you want)
merged_scaled["Score"] = (
    0.4 * merged_scaled["Num_Schools"] +
    0.1 * merged_scaled["GDP per capita (PPP)"] +
    0.2 * merged_scaled["Youth_Population"] +
    0.3 * merged_scaled["Visas"]
)

# Sort by score
ranking = merged_scaled.sort_values("Score", ascending=False)
ranking

,Country,Num_Schools,GDP per capita (PPP),Youth_Population,Visas,Score
29,China,1.000000,0.170421,1.000000,0.943664,0.900141
65,India,0.370629,0.063453,0.934000,1.000000,0.641397
153,United Arab Emirates,0.807692,0.511557,0.001809,0.052786,0.390430
136,Spain,0.475524,0.370467,0.028840,0.061571,0.251496
120,Qatar,0.353147,0.834562,0.000394,0.013371,0.228805
...,...,...,...,...,...,...
83,Lesotho,0.003497,0.008712,0.001864,0.000000,0.002643
41,East Timor,0.000000,0.020518,0.000927,0.000000,0.002237
84,Liberia,0.000000,0.001242,0.003004,0.003574,0.001797
133,Solomon Islands,0.000000,0.007867,0.000409,0.000000,0.000869
45,Eritrea,0.000000,0.003101,0.002376,0.000048,0.000800

In [26]:
existing_countries = ['China' ,'India', 'South Korea', 'Canada', 'Vietnam', 'Taiwan', 'Brazil', 'Turkey' ,'United Kingdom']  # example

# Filter them out
new_ranking = ranking[~ranking['Country'].isin(existing_countries)]

# See the top 10 new opportunities
new_ranking[['Country', 'Score']].head(10) #new ranking

                  Country     Score
153  United Arab Emirates  0.390430
136                 Spain  0.251496
120                 Qatar  0.228805
145              Thailand  0.215543
130             Singapore  0.207347
89               Malaysia  0.206572
74                  Japan  0.185543
108               Nigeria  0.182904
55                Germany  0.177486
43                  Egypt  0.163285