In [ ]:
import numpy as np
import pandas as pd
import http.client
import json
import urllib.parse
from time import sleep
import requests
import pandas as pd
import time

In [ ]:
#load data
econ2 = pd.read_csv("/Users/Owner/Desktop/DS_X/DS-X/Data/national_income_ ppp_usd.csv", sep=";",skiprows=1 )

In [ ]:
econ2.head

<bound method NDFrame.head of          Country  Percentile   \
0     Afghanistan        pall
1         Albania        pall
2         Algeria        pall
3         Andorra        pall
4          Angola        pall
..            ...         ...
259   World (PPP)        pall
260         Yemen        pall
261        Zambia        pall
262      Zanzibar        pall
263      Zimbabwe        pall

     anninc_992_i_2024\nNational income\nTotal population | average income or wealth | adults | individual |  | ppp | constant (2024)\n2024  \
0                                            3399.8906
1                                           15332.9169
2                                           14893.2440
3                                           55394.3914
4                                           10306.9379
..                                                 ...
259                                         20192.1331
260                                          1494.6640
261                                          5753.8817
262                                          6252.2511
263                                          4014.8058

     agdpro_992_i_2024\nGross domestic product\nTotal population | average income or wealth | adults | individual |  | ppp | constant (2024)\n2024  \
0                                            3621.2671
1                                           18304.5760
2                                           16548.3293
3                                           61492.2371
4                                           12498.2498
..                                                 ...
259                                         23922.1305
260                                          1549.4758
261                                          6199.2727
262                                          6864.4045
263                                          4109.2024

     inyixx_999_i_2024\nNational income price index\nTotal population | index | all ages | individual |  | ppp | constant (2024)\n2024
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
259                                                NaN
260                                                NaN
261                                                NaN
262                                                NaN
263                                                NaN

[264 rows x 5 columns]>

In [ ]:
# examine data
econ2.columns       #data  for 2024

Index(['Country ', 'Percentile ', 'Average National Income (USD)',
       'Average GDP per adult',
       'inyixx_999_i_2024\nNational income price index\nTotal population | index | all ages | individual |  | ppp | constant (2024)\n2024'],
      dtype='object')

In [ ]:
# rename column namestomakesended

econ2 = econ2.rename(columns={
    "anninc_992_i_2024\nNational income\nTotal population | average income or wealth | adults | individual |  | ppp | constant (2024)\n2024": "Average National Income (USD)",
    "agdpro_992_i_2024\nGross domestic product\nTotal population | average income or wealth | adults | individual |  | ppp | constant (2024)\n2024": "Average GDP per adult(USD)"
})

# drop percentile column all pall/na
econ2 = econ2.drop(columns=["Percentile ", "inyixx_999_i_2024\nNational income price index\nTotal population | index | all ages | individual |  | ppp | constant (2024)\n2024"])

Varibale Meaning:

 1) Average national income per adult (entire population), measured in constant 2024 PPP-adjusted international dollars.

2)  Average GDP per person

In [ ]:
econ2

         Country   Average National Income (USD)  Average GDP per adult
0     Afghanistan                      3399.8906              3621.2671
1         Albania                     15332.9169             18304.5760
2         Algeria                     14893.2440             16548.3293
3         Andorra                     55394.3914             61492.2371
4          Angola                     10306.9379             12498.2498
..            ...                            ...                    ...
259   World (PPP)                     20192.1331             23922.1305
260         Yemen                      1494.6640              1549.4758
261        Zambia                      5753.8817              6199.2727
262      Zanzibar                      6252.2511              6864.4045
263      Zimbabwe                      4014.8058              4109.2024

[264 rows x 3 columns]

In [ ]:
print(econ2.columns.tolist())

['Country ', 'Average National Income (USD)', 'Average GDP per adult']

In [ ]:
country_names = econ2[['Country ']].copy()
country_names.head()

       Country
0   Afghanistan
1       Albania
2       Algeria
3       Andorra
4        Angola

In [75]:
# upload school data

school = pd.read_csv("/Users/Owner/Downloads/all_schools_final_corrected_v4.csv")

In [77]:
school.head()

                      School Name         Location
0         3e International School   Beijing, China
1                 5 Steps Academy        Singapore
2    7 Hills International School  Kampala, Uganda
3     7Hills International School  Kampala, Uganda
4  A'Takamul International School           Kuwait

In [78]:
# adding lat and long with api 

import requests
from requests.structures import CaseInsensitiveDict

url = "https://api.geoapify.com/v1/geocode/search?text=38%20Upper%20Montagu%20Street%2C%20Westminster%20W1H%201LJ%2C%20United%20Kingdom&apiKey=c3844594af7d4852991fc9df45c7ec7c"

headers = CaseInsensitiveDict()
headers["Accept"] = "application/json"

resp = requests.get(url, headers=headers)

print(resp.status_code)

200

In [81]:


API_KEY = "c3844594af7d4852991fc9df45c7ec7c"  # ✅ Your Geoapify key



# Prepare new columns
school["Lat"] = None
school["Lon"] = None

url = "https://api.geoapify.com/v1/geocode/search"

for i, row in school.iterrows():
    location = row["Location"]

    params = {
        "text": location,
        "format": "json",
        "apiKey": API_KEY
    }

    response = requests.get(url, params=params).json()

    if "results" in response and len(response["results"]) > 0:
        best = response["results"][0]
        school.at[i, "Lat"] = best.get("lat")
        school.at[i, "Lon"] = best.get("lon")
    else:
        print(f"⚠️ No match found for: {location}")

    time.sleep(0.3) 
print("✅ Geo lookup completed!")
school.head()

⚠️ No match found for: DÃ¼sseldorf, Germany
⚠️ No match found for: MedellÃ­n, Colombia
⚠️ No match found for: CopÃ¡n, Honduras

KeyboardInterrupt:

In [ ]:
# education merging

d1 = pd.read_csv("/Users/Owner/Desktop/DS_X/DS-X/Data/completion_rate_upper_secondary.csv")
d2 =pd.read_csv(" ")
d3 = pd.read_csv(" ")
d4 = pd.read_csv(" ")

                                 Region Variable        Value
0                      East Asia (MER)    Wealth  181233.8747
1                 Eastern Europe (MER)       GDP   37497.6628
2                 Eastern Europe (MER)    Wealth  157032.3524
3                         Europe (MER)       GDP   51288.7792
4                         Europe (MER)    Wealth  257487.6261
5                  Latin America (MER)       GDP   21213.6499
6                  Latin America (MER)    Wealth   78382.9755
7                        Oceania (MER)       GDP   48685.0331
8                        Oceania (MER)    Wealth  345140.6598
9    Other Russia & Central Asia (MER)       GDP   19906.5630
10   Other Russia & Central Asia (MER)    Wealth   73307.6476
11  Other South & Southeast Asia (MER)       GDP   21082.0310
12  Other South & Southeast Asia (MER)    Wealth   96688.2017
13      Other Sub-Saharan Africa (MER)       GDP    5990.7920
14      Other Sub-Saharan Africa (MER)    Wealth   20396.3611
15          Other Western Europe (MER)       GDP   62111.2748
16          Other Western Europe (MER)    Wealth  317314.2907
17         Russia & Central Asia (MER)       GDP   31388.2285
18         Russia & Central Asia (MER)    Wealth  115614.4573
19        South & Southeast Asia (MER)       GDP   12406.7881
20        South & Southeast Asia (MER)    Wealth   52488.0146
21            Sub-Saharan Africa (MER)       GDP    6923.4618
22            Sub-Saharan Africa (MER)    Wealth   23559.3201